@media screen and ( min-width: 1025px) and (max-width:1300px){

#menu-burger{
  display: none;
}
#menu{
  width: 23%;
    height: 100%;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
}
 .sidebar-title{
   margin: 0;
 }
 .content-nav {
  margin-top: 50%;
}
 .content-nav-item {
   padding: 0 5% 0 5%; 
}

 .title-item-service h3{
text-align: center;
 }

 #portfolio{
   padding: 7% 0 15% 0;
   height: auto;
 }
}
@media screen and ( min-width: 1025px) and (max-width:1200px){
  .project-container{
    max-width: 45%;
    margin: 2%;
    height: 15rem;
  }
}
@media screen and ( min-width: 1201px) and (max-width:1300px){
  .project-container{
    max-width: 30%;
    height: 12rem;
    margin: 0;
  }
}
@media screen and ( min-width: 1201px) and (max-width:1300px){
  .project-container{
    max-width: 30%;
    height: 12rem;
    margin: 0;
  }
}
@media screen and ( min-width: 1301px) and (max-width:1400px){
  .project-container{
    max-width: 30%;
    height: 13rem;
    margin: 0;
  }
}
@media screen and ( min-width: 1401px) and (max-width:1500px){
  .project-container{
    max-width: 30%;
    height: 13rem;
    margin: 0;
  }
}
@media screen and ( min-width: 1501px) and (max-width:1600px){
  .project-container{
    max-width: 30%;
    height: 14rem;
    margin: 0;
  }
}

@media screen and ( min-width: 1301px) and (max-width:1600px){

#menu-burger{
display: none;
}
#menu{
width: 23%;
height: 100%;
position: sticky;
top: 0px;
display: flex;
flex-direction: column;
}

.sidebar-title{
  margin: 0;
}
.content-nav {
 margin-top: 50%;
}
.content-nav-item {
  padding: 0 5% 0 5%; 
}
}

@media screen and ( min-width: 1600px){

                    /*                          */
                   /*  Configuration  */
                  /*                          */


#menu-burger{
display: none;
}
#menu{
width: 23%;
height: 100%;
position: sticky;
top: 0px;
display: flex;
flex-direction: column;
}
.sidebar-title{
  margin: 0;
}
.content-nav {
 margin-top: 35%;
}
.content-nav-item {
  padding: 0 5% 0 5%; 
}
.footer-sidebar{
  left: 3.2rem;
}

 #presentation{
  margin: 2% 0 5% 0;
 }
 #services {
  padding: 7% 0 8% 0;
}
.project-container{
  max-width: 30%;
  height: 15rem;
  margin: 0;
}
}